/* #cfe8d2  bgcolor*/
/* #259a46  text color*/

/* .osus-text{
    background-color: rgba(207, 232, 210, 0.5);
    margin: auto;
    width: fit-content;
    padding: 10px;
    border: solid 1px rgb(37, 154, 70, 0.5);
    border-radius: 20px;

    color: #259a46;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.geljek-text{
    margin: auto;
    width: 600px;
    text-align: center;
    font-size: 68px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
}
.dowrebap-text{ 
    margin: auto;
    width: 600px;
    text-align: center;
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #808770;
    padding: 10px;
} */


