/* #cfe8d2  bgcolor*/
/* #259a46  text color*/

/* .osus-text{
    background-color: rgba(207, 232, 210, 0.5);
    margin: auto;
    width: fit-content;
    padding: 10px;
    border: solid 1px rgb(37, 154, 70, 0.5);
    border-radius: 20px;

    color: #259a46;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.geljek-text{
    margin: auto;
    width: 600px;
    text-align: center;
    font-size: 68px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
}
.dowrebap-text{ 
    margin: auto;
    width: 600px;
    text-align: center;
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #808770;
    padding: 10px;
} */



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif; 
}

.navbar {
    display: flex; 
    justify-content: space-between; 
    align-items: center;            
    padding: 15px 10%;             
    background-color: white;
    border-bottom: 1px solid #eee;
}


.logo {
    font-size: 22px;
    font-weight: bold;
    color: #1a8917; 
    cursor: pointer;
}


.nav-links {
    display: flex;
    list-style: none; 
    gap: 25px;        
}

.nav-links a {
    text-decoration: none;
    color: #555;
    font-size: 15px;
    font-weight: 500;
}

.nav-links a:hover {
    color: #1a8917; 
}

/* 5. Right Side Buttons */
.auth-buttons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.login-link {
    text-decoration: none;
    color: #333;
    font-size: 15px;
}

.signup-btn {
    background-color: #1a8917;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.signup-btn:hover {
    background-color: #146c12;
}

section {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    text-align: center;  
}
.osus-text {
    display: inline-block;   
    text-align: center;      
    margin:20px;
    

    background-color: white;
    color: #1a8917;
    padding: 8px 20px;
    border-radius: 50px;
    border: 1px solid #d0e8d5;
    font-size: 14px;
}

.geljek-text{
    width: 600px;
    text-align: center;
    color:black;
    margin:10px;
    font-size: 48px;
    font-weight: bold;

}
.dowrebap-text{
    width: 600px;
    text-align: center;
    color: #5c761f;
    margin:10px;
    font-size: 18px;

}
.dowrebap-text{
 
    width: 600px;
    text-align: center;
    color: #c2cab0;
    margin:10px;
    padding: 3px;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.maksat-text{
    width: 800px;
    text-align: center;
    color: #839e46;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 3px;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}