/* #cfe8d2  bgcolor*/
/* #259a46  text color*/

 :root {
    --goyy-yasyl: #1c9513;
    --acyk-yasyl: #54d728;
    --text-gara: black;
    --acyk-gok:rgb(16, 131, 197);
    --gyzyl: rgb(247, 3, 3);
    --text-cal: #666666;
    --white: white;
    --yeneyasyl:#259a46;
    --bgcolor:#e9ffd2fb ;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    background-color: var(--bgcolor);
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}
header nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 55px;
    background-color:white;
    position: fixed;
    top: 0;
    padding: 5px;
    box-shadow: #0A0A0A 0px 0px 0.8px;
    opacity: 0.9;
    backdrop-filter: blur(8px);/*?????????blur ishlanok*/
    z-index: 1000;

    
}
.tmdilim{
    display: flex;
    align-items: center;
    margin-right: 60px;
    font-size: 30px;
    font-weight: bold;
    color: var(--goyy-yasyl);
    margin-left: 30px;
    cursor: pointer;
}
header nav ul{
    display: flex;
    list-style: none;
    margin-right: auto;

}

nav ul li{
    margin: 0 10px;
    font-size: 18px;
    color: var(--acyk-gok);
    font-weight: bold;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 8px;
    transition: 0.3s ease;
}
nav ul li:hover{
    background-color: #b9ff6ffb;;
}
.girish {
    display:inline-block;
    justify-content: space-between;
    padding-right: 15px;
    font-size: 18px;
    margin: 10px;
}
.girish a{
    color: var(--acyk-gok);
    text-decoration: none;
    font-weight: bold;
    margin-right: 25px;
    
}
.girish button{
    background-color: var(--acyk-yasyl);
    color: var(--acyk-gok);
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}
header nav .tmdilim img{
    width: 24px;
    height: 24px;
}
.osus-text{
    background-color: rgba(207, 232, 210, 0.5);
    margin: 90px auto 20px auto;
    width: fit-content;
    padding: 10px;
    border: solid 1px rgb(37, 154, 70, 0.5);
    border-radius: 20px;

    color: #259a46;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.geljek-text{
    margin: auto;
    width: 650px;
    text-align: center;
    font-size: 68px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
}
.dowrebap-text{ 
    margin: auto;
    width: 770px;
    text-align: center;
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #808770;
    padding: 10px;
} 
.maksat-text{
    margin: auto;
    width: 600px;
    text-align: center;
    font-size: 19px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #a2aa90;
    padding: 10px;
}
.bas-buton{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.bas-buton button{
    color: var(--acyk-gok);
    border: none;
    padding: 10px 30px;
    border-radius: 13px;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
    background-color: white;
}
#kategoriya:hover{
    background-color: rgb(220, 219, 219);
}
#teklip{
    background-color: var(--acyk-yasyl);
}

.gizlinlik{
    display: block;
    text-align: center;
    margin: 30px auto;
    color: var(--acyk-gok);
    text-decoration: none;
    font-size: 18px;
}
.gizlinlik span:hover{
    text-decoration: underline;
}
form, .diller{
    display: flex;
    width: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
form{
    display: flex;
    justify-content: center;
    position: relative;
    margin: 40px auto 20px auto;
}
form input{
    width: 100%;
    color: var(--text-cal);
    background-color: rgb(33, 31, 31);
    padding: 15px 100px 15px 45px;
    border: 1px solid rgb(33, 31, 31);
    border-radius: 13px;
    color: var(--text-cal);
    font-size: 18px;
    

}
form button{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    color: var(--bgcolor);
}
.diller{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
}

.diller button{
    flex: 1;
    background-color: rgb(21, 20, 20);
    color: var(--white);
    border: none;
    box-shadow: 0px 0px 1px rgba(255, 255, 255, 0.5);
    padding: 10px 30px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

section h2{
    margin:150px auto 10px auto;
    text-align: center;
    font-size: 45px;
    padding: 10px;

}
.taslama{
    margin: auto;
    width: 750px;
    text-align: center;
    font-size: 25px;
    color: var(--text-cal);
}
.boxes{
    display: flex;
    justify-content: center;
    gap:40px;
    flex-wrap: wrap;
    padding: 20px;
    
}
.card1, .card2, .card3 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #ffffff;
    border-radius: 15px;  
    padding: 20px;  
    flex-wrap: wrap; 
    max-width:400px;
    min-height: 220px;
    flex: 1;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3); 
    transition: ease-in-out 0.3s;
}
.card1:hover, .card2:hover, .card3:hover{
    border: solid 0.5px var(--yeneyasyl) ;
}
.boxes .card1 div, .boxes .card2 div, .boxes .card3 div{
    font-size: 25px;
    background-color: #b9ff6ffb;
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 30%;
}
section article h3{
    font-size: 21px;
}
section article p{
    font-size: 21px;
    color: var(--text-cal);
    max-width: 390px;
}

